main {
  display: flex;
  flex-wrap: wrap;
}

article {
  color: rgba(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

h2 {
  font-size: 25px;
  background: #ffd900;
  color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
}

p {
  font-family: 'Varela', sans-serif;
}

.imageAnchor {
  margin: 30px;
}

img {
  max-height: 300px;
}

/* Tällä saadaan hieno viiva eri osioiden väliin */
.line {
  border-bottom: 1px solid rgba(255,255,255,.25);
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
}

.audTimeContainer {
  flex-basis: 40%;
  margin-left: 40px;
}

.auditContainer {
  margin-left: 40px;
}

.movieInfoContainer {
  flex-basis: 40%;
  margin-left: 40px;
}

/* Mikäli ruutu on leveämpi kuin 750px, käytetään alla olevaa koodia */
@media only screen and (min-width:750px) {
  article {
    flex-direction: row;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .audTimeContainer {
    flex-basis: 40%;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .movieInfoContainer {
    flex-basis: 40%;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 0%;
  }
}