body {
  padding: 10px;
}

.container {
  width: 80%;
  height: 300px;
  position: relative;
  background: #CFB9A5;
  margin: auto;
  border-radius: 6px;
}

a {
  color: #000;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 6px;
  background: #999;
}

.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  background: #7B3E19;
  margin: auto;
  width: 80%;
  padding: 10px;
  border-radius: 6px;
}

html { 
	background: #888; 
	padding: 20px; 
}
/*
#container { 
	width: 100%;
	max-width: 400px;
	margin: auto;
	border: solid 1px #888;
	border-radius: 6px;
}*/

/*
Tekee hienon vino viivan
#imagecontainer {
  background: blue;
  transform: rotate(7deg);
  position: absolute;
  width: 100%;
  top: 200px;
  padding-top: 300px;
  padding-right: 100px;
}
*/






































.slider-frame{
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-left:360px;
  margin-top: 20px;
}

@-webkit-keyframes slide_animation {
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left:2400px;}
  50% {left:2400px;}
  60% {left:1200px;}
  70% {left:1200px;}
  80% {left:0px;}
  90% {left:0px;}
  100% {left:0px;}
}

.slide-images {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.slide {
  height: 800px;
  width: 1200px;
  position: relative;
  float:left;
}