/*Ei tarvitse aina erikseen laittaa tiettyjä tietoja, kun referoi rootin sisällä olevia juttuja*/
:root {
  --border-radius: 7px;
  --text-radius: 50em;
}

body {
  padding: 50px 0 0 0;
  margin: 0 10px;
}

body *, body :after, body :before {
  box-sizing: border-box;
}
.wrap {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  position: relative;
}
.wrap.sticky {
  margin-top: 150px;
  /*Korkeus navin yläpuolelle*/
}

.fluid .wrap {
  max-width: 100% !important;
}

.nav {
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  background: #ffd900;
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  position: sticky; top: 0;
  width: 100%;
}

.containernav {
  
  height: 100px;
  position: relative;
  background: #2c2c2c;
  margin: auto;
  border-radius: 6px;
}

#nav-logo {
  height: 60px;
  margin: 20px;
}

.nappura {
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  border-radius: 6px;
  background: rgb(255, 213, 0);
}

.videomain{
  margin: 15px;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.videoframe{
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
}

.video{
  width: 100%;
  height: 450px;
  display: flex;
}

section {
  background: #2c2c2c;
  padding: 100px 50px;
  width: 100%;
  border-radius: var(--border-radius);
  margin: 15px 0 0 0;
}

section .headline {
  display: block;
  list-style: none;
  max-width: 260px;
  height: 40px;
  background: #ffd900;
  border-radius: 5px;
}
section .text {
  height: 165px;
  background: #ffd900;
  border-radius: 5px;
}

section.contentbox .headline {
  margin: 15px 0 !important;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contentbox .text {
  margin: 15px 0 !important;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}

body {
  text-rendering: optimizelegibility;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgb(0, 0, 0); /*Laittaa hienon mustan varjon wrapperin seinille, kun sticky on aktivoitunut*/
  background: rgb(0, 0, 0);
  padding: 50px 50px 100px 50px;
}

body.tight .wrapper {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer;
}

.arrow {
  position: fixed;
  bottom: 50px;
  left: 50%;
  cursor: pointer;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  padding: 20px;
  z-index: 99;
  background-color:#000000;
  border-radius: 50em;
  background-image: url(../nuoli.png);
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: center;
}
/*Tekee hienon pumppuanimaation nuolelle*/
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

#image {
  height: 450px;
  display: flex;
  justify-content: center;
}

.profile {
  border-radius: 50%; 
  padding: 5px;
  margin: auto;
  min-width: 10%;
  background-color: #000;
  }

 .footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20%;
  background-color:#ffffff00;
  position: relative;
  margin: auto;
  border-radius: 6px;
}

footer {
  background: #ffffff00;
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  position: sticky; top: 0;
  width: 100%;
}

#footer-logo {
  height: 90px;
  margin: 26px;
}

figcaption {
  text-align: center;
}

.text p {
  margin: 10px;
}

/* Mikäli ruutu on pienempi kuin 728px, käytetään alla olevaa koodia */
@media only screen and (max-width: 728px) {
  section .contentbox {
    width: 100%;
    
    margin: 10px 0 0 0 !important;
    padding: 0;
  }

  .wrapper {
    padding: 50px 10px 100px 10px !important;
  }

  #image {
   height: 225px;
  }

  .profile {
    height: 100px;
  }

  figcaption {
    font-size: 10px;
  }
}